body{
    /*background-color: aqua;*/
    z-index: 0;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}
input[type=number]{
    border: 1px solid gray;
    border-radius: 12px;
    height: 1.5rem;
    font-size: 100%;
    padding: 0.7%;
    font-family: 'Jua', sans-serif;
    width: 75%;
}
label{
    cursor: pointer;
}
#main{
    position: absolute;
    right: 0;
    left: 25%;
    top: 25%;
    width: 50%;
    height: max-content;
    padding: 50px;
    border: 3px solid blue;
    border-radius: 20px;
    z-index: 3;
    /*background-color: black;*/
    color: black;
}
#f_b{
    width: 20%;
    height: inherit;
    cursor: pointer;
}
#poll{
    position: absolute;
    width: 50%;
    height: max-content;
    left: 25%;
    top: 25%;
    padding: 50px;
    z-index: 4;
    background-color: white;
    color: black;
    border: 3px solid blue;
    border-radius: 20px;
}
#poll .home{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#poll .amount{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.poll{
    border: 1px solid #0077ed;
    border-radius: 20px;
    background-color: #0077ed;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    font-size: 40px;
}
.first{
  border: 1px solid green;
  border-radius: 8px;
  width: fit-content;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}
.second{
  border: 1px solid green;
  border-radius: 8px;
  width: fit-content;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}
#result{
    color: red;
    font-size: 1000%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 700px){
  #main{
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    width: 80%;
    height: max-content;
    padding: 50px;
    border: 2px solid blue;
    border-radius: 20px;
    z-index: 3;
    /*background-color: black;*/
    color: black;
    font-size: 30px;
}
#poll{
    position: absolute;
    width: 80%;
    height: max-content;
    left: 0%;
    top: 10%;
    padding: 50px;
    z-index: 4;
    background-color: white;
    color: black;
    border: 3px solid blue;
    border-radius: 20px;
    font-size: 25px;
}
label{
    cursor: pointer;
    font-size: 35px;
}
input[type=number]{
    width: 80%;
}
#result{
    font-size: 35px;
}
}